@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins overflow-x-hidden;
  }
  .container {
    @apply max-w-[1600px] w-full px-4 mx-auto;
  }
  /* Banner */
  .banner {
    @apply pt-36 bg-secondary/30 pb-10
    /* dESKTOP */
    lg:pb-0;
  }
  .banner__wrapper {
    @apply flex flex-col-reverse gap-5 items-center
    justify-center
    /* desktop */
     lg:flex-row lg:max-w-[60rem] lg:mx-auto;
  }
  .banner__text span {
    @apply font-extrabold;
  }
  .banner__text h1 {
    @apply text-5xl font-semibold mb-10;
  }
  /* Welcome */
  .welcome {
    @apply py-10;
  }
  .welcome__wrapper {
    @apply flex flex-col justify-center items-center
    /* desktop */
    lg:flex-row lg:gap-32 lg:max-w-[60rem] lg:mx-auto;
  }
  /* .welcome__image {
    @apply flex flex-col justify-center items-center */
  /* desktop */
  /* lg:flex-row lg:gap-32 lg:max-w-[60rem] lg:mx-auto;
  } */
  .welcome__image img {
    @apply w-[20rem] border-8 border-black rounded-3xl
    /* desktop */
    lg:w-full;
  }
  .welcome__image img:last-child {
    @apply relative bottom-[2.7rem] left-[2rem] z-0;
  }
  .welcome__text h2 {
    @apply text-3xl font-bold;
  }
  .welcome__text h4 {
    @apply text-red-600 font-semibold mt-5;
  }
  .welcome__text p {
    @apply mt-3;
  }
  /* What we offer */
  .offer {
    @apply py-10 bg-tertiary text-white;
  }
  .offer h2 {
    @apply text-3xl font-bold text-center;
  }
  .offer__tab {
    @apply flex justify-center gap-4 py-10;
  }
  .offer__tab img {
    @apply w-20;
  }
  .offer__tab img.active {
    @apply border-2 p-1 border-secondary rounded-full;
  }
  .offer__foods {
    @apply flex flex-col gap-4 justify-center items-center text-center py-10 border border-white rounded-xl;
  }
  .offer__foods img {
    @apply w-32;
  }
  .offer__details--wrap {
    @apply grid grid-cols-2 gap-3;
  }
  .offer__details {
    @apply hidden
    /* desktop */
    lg:max-w-[50rem] lg:mx-auto;
  }
  .offer__details.active {
    @apply block;
  }
  /* our story */
  .story {
    @apply py-10;
  }
  .story__wrapper {
    @apply lg:flex items-center justify-evenly;
  }
  .story h3 {
    @apply font-bold text-center text-4xl mb-5;
  }
  .story__content {
    @apply text-justify;
  }
  .story__item {
    @apply mb-5 max-w-[35rem] mx-auto;
  }
  .story__item h4,
  .story__item i {
    @apply bg-primary text-white px-3 py-2 font-bold
    flex justify-between items-center cursor-pointer;
  }
  .story__item i.open {
    @apply rotate-180 duration-700;
  }
  .story__item p {
    @apply bg-slate-50 h-auto max-h-0 overflow-hidden duration-300;
  }
  .story__item p.open {
    @apply max-h-[50rem] bg-slate-50 p-3 duration-300;
  }
  .story__img {
    @apply hidden
    /* desktop */
    lg:block;
  }
  .story__img img {
    @apply lg:rounded-3xl;
  }
}
@layer components {
  /* Header */
  header {
    @apply fixed z-50 py-6  w-full bg-white shadow-[0_8px_24px_-15px_rgba(149,157,165,0.2)];
  }
  .header__wrapper {
    @apply flex justify-between items-center;
  }
  .header__wrapper img {
    @apply w-[8rem];
  }
  .header__nav {
    @apply bg-secondary flex flex-col gap-5 fixed
            text-center w-40 py-5 top-[6.8rem] font-semibold duration-700 right-[-100%]
             /* desktop */
             lg:flex-row lg:h-auto lg:static lg:bg-transparent lg:w-auto;
  }
  /* desktop */
  .header__nav.open {
    @apply right-0 duration-700 z-50;
  }
  .header__nav li a {
    @apply text-black/80 hover:text-primary;
  }
  .toggle__menu {
    @apply flex flex-col gap-1 z-50 lg:hidden;
  }
  .toggle__menu span {
    @apply content-[*] bg-primary w-10 h-1 rounded-lg
    ease-in-out duration-700;
  }
  .toggle__menu span:last-child {
    @apply w-7;
  }
  .toggle__menu.open span {
    @apply w-7 ease-in-out duration-700;
  }
  .toggle__menu.open span:last-child {
    @apply w-10 ease-in-out duration-700;
  }
  /* Backdrop */
  .backdrop {
    @apply hidden;
  }
  .backdrop.open {
    @apply block fixed top-[6.8rem] left-0
    h-screen w-full backdrop-blur-sm duration-700 overflow-hidden
    /* desktop */
    lg:hidden;
  }
  /* Announcement */
  .announce {
    @apply fixed w-full z-10 bg-white/85 pt-28 pb-1
    text-center font-semibold text-primary leading-3;
  }
  /* connect */
  .connect {
    @apply bg-primary text-white py-10
    /* desktop */
    lg:pt-5 lg:pb-0;
  }
  .connect__wrapper {
    @apply flex flex-col items-center
    justify-center text-center py-8
    /* desktop */
    lg:flex-row;
  }
  .connect img {
    @apply hidden
    /* desktop */
    lg:block;
  }
  .connect__details h3 {
    @apply font-bold text-2xl;
  }
  .connect__input {
    @apply bg-white p-3;
  }
  .connect__input input {
    @apply px-3 py-2 focus:text-black focus:outline-none;
  }
  /* footer */
  .footer {
    @apply py-7;
  }
  .footer img {
    @apply mb-6;
  }
  .footer__wrapper {
    @apply flex flex-col justify-center items-center text-center;
  }
  .footer__details {
    @apply flex flex-col gap-5 mb-5
    /* desktop */
    lg:flex-row lg:gap-20;
  }
  .footer__details h3 {
    @apply font-bold text-2xl;
  }
}
.footer__details h3 {
  @apply font-bold text-2xl;
}

/* About Page */
.aboutHistory {
  @apply lg:py-[9rem];
}
.aboutHistory__video iframe {
  @apply w-[25rem] h-[20rem]
    /* desktop */
    lg:w-[45rem] lg:h-[35rem];
}
.aboutHistory__wrapper {
  @apply flex flex-col items-center
    /* desktop */
    lg:flex-row gap-10;
}
.aboutHistory__text h2 {
  @apply text-[3rem] text-primary font-bold leading-[3rem];
}
.aboutHistory__text {
  @apply pt-11 
    /* desktop */
    lg:w-[200rem];
}
.aboutHistory__text p {
  @apply lg:w-[35rem] pt-4;
}

/* Client Review */
.aboutReview__wrapper {
  @apply text-center;
}
.aboutReview__card {
  @apply flex items-center flex-col gap-6;
}
.aboutReview__img img {
  @apply rounded-full w-[5rem] mx-auto 
    /* desktop */
    lg:pt-8;
}
.aboutReview__text p:last-child {
  @apply pt-5;
}
.aboutReview__title h3 {
  @apply text-3xl font-bold;
}
.aboutReview__text p:first-child {
  @apply lg:w-[45rem] mx-auto pt-8;
}
/* Menu */
/* Banner */
.menuBanner {
  @apply bg-menu bg-no-repeat bg-cover h-screen;
}
.menuBanner__wrapper {
  @apply pt-[25rem];
}
.menuBanner__wrapper h2 {
  @apply text-white text-3xl font-bold w-[15rem] mx-auto
    /* desktop */
    lg:w-[60rem] lg:text-7xl lg:text-center;
}
/* Menu list */
.menu {
  @apply py-10 bg-tertiary text-white;
}
.menu__wrapper {
  @apply flex flex-col justify-center items-center
  /* desktop */
  lg:gap-10;
}
.menu__type {
  @apply flex items-center gap-4 bg-secondary rounded-3xl py-4 mb-4 px-[2rem]
  /* desktop */
  lg:w-[47rem] lg:m-auto;
}
.menu__type ul span {
  @apply h-[20px] w-[1px] block bg-white;
}
.menu__type ul {
  @apply flex gap-3 items-center
  /* desktop */
  lg:m-auto gap-10;
}
.menu__type ul li.active {
  @apply text-primary;
}
.menu__type ul li {
  @apply text-tertiary font-bold hover:text-primary cursor-pointer;
}
.menu__details--wrap {
  @apply grid grid-cols-3 gap-3;
}
.menu__foods {
  @apply flex flex-col items-center justify-center text-center pt-[3rem]
    /* desktop */
    lg:border lg:py-5 lg:px-10 lg:rounded-xl;
}
.menu__foods img {
  @apply w-40;
}
.menu__details {
  @apply hidden;
}
.menu__details.active {
  @apply block;
}
/* Contact */
/* Map */
.contactMap{
  @apply py-[10rem];
}
.contactMap__wrapper{
  @apply flex justify-center;
}
.contactMap__gmap iframe{
  @apply w-[25rem] h-[40rem]
  /* desktop */
  lg:w-[70rem];
}

/* Form */
.contactForm{
  @apply bg-secondary py-[10rem];
}
.contactForm__wrapper{
  @apply max-w-[50rem] mx-auto text-center;
}
.contactForm h2{
  @apply text-5xl font-bold mb-[5rem];
}
.contactForm__content{
  @apply flex flex-col gap-[1rem];
}
.contactForm__content input{
  @apply p-[0.8rem] rounded-2xl
  /* desktop */
  lg:w-full;
}
.contactForm__flName{
  @apply flex  gap-[1rem];
}
.contactForm__flName input{
  @apply w-[13.5rem]
  /* desktop */
  lg:w-full;
}
.contactForm__content textarea{
  @apply rounded-2xl p-[1rem] resize-none h-[10rem]
  /* desktop */
  lg:w-full;
}
.contactForm__btn{
  @apply mt-[2rem];
}
.contactForm__btn a{
  @apply text-white  bg-primary px-[1rem] rounded-xl py-[0.5rem];
}




/* Button */
.btn {
  @apply py-2 px-4 bg-transparent border border-transparent
    rounded-xl;
}
.btn.bg--primary {
  @apply bg-primary border border-primary text-white
    hover:bg-transparent hover:text-primary;
}
.btn.readmore {
  @apply border border-primary hover:bg-primary;
}
.btn.bg--secondary {
  @apply bg-secondary text-black hover:border hover:border-secondary;
}

@layer utilities {
}
